$black-shade:#1B262C;
$background-color:#112D4E;

$background-color-light:#195192;
$foreground-color:#F9F7F7;
$foreground-color-dark:#e3e3e3;
$foreground-color-dark-lighter:#ece9e9;
$primary-color:#3F72AF;
$primary-color-light:#5e9fef;
$secondary-color:#DBE2EF;
$navbar-size:64px;
$scrollbar-size:10px;