@use "./styles/variables" as *;
@use "./styles/scrollbar";
@use "./styles/select";
@use "./styles/toggle";
@use "./styles/navigations";
@use "./styles/slider";
@use "./styles/searchbar";
@use "./styles/results";


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@font-face {
  font-family: 'Klapt';
  src: local('Klapt'), url(./fonts/Klapt-Bold.otf) format('opentype');
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: $foreground-color;
}
.header{
  position:sticky;
  top:0;
  left:0;
  right:0;
  display:flex;
  background-color:$primary-color-light;
  color:$foreground-color;
  padding-left:24px;
  padding-right:24px;
  font-family: "Klapt";
  justify-content: space-between;
  display:flex;
  align-content: center;
  height:$navbar-size;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
}
h4{
    
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:400;
}

.main{
  height:calc(100vh - $navbar-size);
  overflow: hidden;

  display:flex;
}
.left-main{
  display:flex;
  flex-direction: column;
  flex-basis:180px;
  overflow: scroll;
  overflow-x: hidden;
  flex-grow:0.5;
  border-right: 1px solid rgba(0,0,0,.2);
 
}
.left-main::-webkit-scrollbar {
  display:none;
}
.right-main{
  overflow: scroll;
  overflow-x: hidden;
  flex-basis:600px;
  flex-grow: 4.5;
}
.left-main form{
  padding:15px;
  display: flex;
  flex-direction: column;
  gap:calc( #{$navbar-size} / 8);
  flex-grow: 1;
}
.modal{
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background: rgba(63, 114, 175, 0.5);
  box-shadow: 0 8px 32px 0 rgba( 176, 176, 176, 0.37 );
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  visibility: hidden;
  display:flex;
  opacity: 0;
  align-items:center;
  justify-content: center;
  z-index: 1;
  transition: 0.5s ease;
}
.modal.active{
  visibility: visible;
  opacity: 1;
  transition: 0.5s ease;
}

.preview-image{
  
  background-color: $secondary-color;
  border-radius: 10px 0 0 10px;
}
.modal-content{
  height:70%;
  display:flex;
  max-width: 80%;
  box-shadow: 0 8px 32px 0 rgba(32, 59, 92, 0.5);
}
.image-description{
  height:100%;
  width:300px;
  background-color: $foreground-color;
  border-radius: 0 10px 10px 0;
  position: relative;
}
.close-button{
  position: absolute;
  top:0;
  right:0;
  height:calc(3 * $navbar-size / 4);
  width:calc(3 * $navbar-size / 4);
  cursor:pointer;
  border-radius: 10px;
  background-color: $secondary-color;
  -webkit-mask: url("./icons/close-icon.png") no-repeat center;
  mask: url("./icons/close-icon.png") no-repeat center;
  mask-size: 80%;
}
.close-button:hover{
  background-color: $primary-color;
  transition: 0.15s ease;
}
.description-group{
  margin:20px;
  margin-top: $navbar-size;
  display:flex;
  flex-direction: column;
  gap:10px;
}
.description-item{
  height:calc(0.5 * #{$navbar-size});
  border:1px solid rgba(0,0,0,.2);
  border-radius: 10px;
  color:$primary-color;
  font-size: 0.9em;
  line-height: calc(0.5 * $navbar-size);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  display:flex;
  justify-content: start;
  overflow: hidden;
}
.description-item span{
  overflow:hidden;
}
.item-icon{
  height: calc(0.5 * #{$navbar-size});
  width:  calc(0.5 * #{$navbar-size});
  border-radius: 10px;
  background-color: $primary-color;
  flex-shrink: 0;
}
.item-icon[data-id=user]{
  -webkit-mask: url("./icons/user-icon.png") no-repeat center;
  mask: url("./icons/user-icon.png") no-repeat center;
  mask-size: 80%;
}
.item-icon[data-id=views]{
  -webkit-mask: url("./icons/views-icon.png") no-repeat center;
  mask: url("./icons/views-icon.png") no-repeat center;
  mask-size: 80%;
}
.item-icon[data-id=downloads]{
  -webkit-mask: url("./icons/downloads-icon.png") no-repeat center;
  mask: url("./icons/downloads-icon.png") no-repeat center;
  mask-size: 80%;
}
.item-icon[data-id=likes]{
  -webkit-mask: url("./icons/likes-icon.png") no-repeat center;
  mask: url("./icons/likes-icon.png") no-repeat center;
  mask-size: 80%;
}
.item-icon[data-id=tags]{
  -webkit-mask: url("./icons/tags-icon.png") no-repeat center;
  mask: url("./icons/tags-icon.png") no-repeat center;
  mask-size: 80%;
}